@import 'library';

@import 'reset';

/* ==========================================================================
   NAVIGATION BAR  hide
   ========================================================================== */

body{
  @include responsiveBackground(#242424);

}
body.show{
  @include responsiveBackground(#2B2937);

}

header #main-header{
  z-index: 1000;
  position: relative;
}


#main-nav{
  height: 0%;
  margin-left: -2.5em;
  margin-top: 2em;
}
.nav-handle{
position: absolute;
 right: 0;
 top: -6em;
 padding-right: 2em;

}

#main-nav li {
width: 100%;
height: 2em;
left: 0;
top: 60px;
display: block;
clear: left;
padding-top: 1.2em;
padding-bottom: 0.5em;
border-bottom: black 1px solid;
margin: 0;
font-size: 1.1em;
font-weight: 100;
-webkit-transition: height 1s ease; 
  -moz-transition: height 1s ease; 
  -ms-transition: height 1s ease; 
  -o-transition: height 1s ease; 
  transition: height 1s ease; 
line-height: 0px;
 background-color: #242424;
 cursor: pointer;
}
ul#main-nav li:nth-child(7){
  background-color: white;
  
} 
ul#main-nav li:nth-child(8){
  background-color: white;

} 
.styleList{
  color: black!important;
}

ul#main-nav li p{
  color: white;
  font-weight: 100;
  padding-left: 5em;
  margin-top: -0.6em;
}
ul#main-nav li i{
  color: black;
  font-size: 1.2em;
  margin-left: 1.3em;
}

/* ==========================================================================
   ACTIVE HOLD ON LI DROP DOWN MENU
   ========================================================================== */

ul#main-nav li:active{
  
@include navList;

}
ul#main-nav li p:active{
  @include hoverFont(#E6E6FA)
}
ul#main-nav li i:active{
  @include hoverFont(#E6E6FA)
}


header #main-header ul#main-nav li a{
  text-decoration: none;
  color: black;  
}
header #main-header ul#main-nav li a{
  text-decoration: none;
  color: black;
}

header #main-header #nav-handle {
position: absolute;
top: 0;
right: 0;
height: 56px;
width: 56px;
background-color: transparent;
}

.side-bar{
  position: absolute;
  left: 0;
  margin-top: -2.2em;
}
#droparrow{
  @include whiteArrow;
  right: 0;
  padding-right: 2em;
  margin-top: -1.2em;
  color: white!important;
}
#droparrow.hide{
  height: 0em;
width: 0em;
overflow: hidden;
display: none;
}
/* ==========================================================================
   NAVIGATION BAR hide
   ========================================================================== */

#main-nav li.hide {
display: block;
left: 0;
top: 60px;
margin: 0;
color: black;
font-weight: 100;
height: 0em;
width: 0em;

overflow: hidden;
}

#seletedServices{
  width: 0;
  height: 0;
  display: none;

}


#seletedServices.display{
  width: 600px;
  height: auto;
  display: block;
  color: black;
  font-size: 0.8em;
  margin-left: -3em;
  }
#seletedServices i.display{
  margin-left: 1.8em;
  
  }

#seletedServices p.display{
  margin-left: 1.3em;
  
  }
#brand_logo a img{
  height: 25%;
  width:25%;
  margin-left: 1.4em;
}
/* ==========================================================================
   SEARCH 
   ========================================================================== */
.search-container{
  margin-left: 6.5em;
  letter-spacing: -3px;
  font-size: 1.2em;
  padding: 0.3em 0.6em;
  padding-bottom: 0.8em;
  display: block;
  margin-top: -3.7em;
  position:absolute;

}

.search-bar{
  text-indent: 0.5em;
  font-size: 0.9em;
  font-weight: 100;
  width: 11em;
  position: absolute;
  border-radius: 5px;
  color: white;
  height: 1.7em;
font-weight: 100;
background-color:black;
}
/* ==========================================================================
   WHEN NAV SLIDES UP BUTTON AND INTRO APPEARS
   ========================================================================== */
   #intro-paragraph{
   @include headers;
   width: 320px;
    text-align: center; 
  margin-top: -12em;
  postition: absolute;
   }
   section#introduction{
    display: none;
    height: 0;
    width: 0;

   }
   section#introduction.show{
    display: block;
    margin: 0px auto;
    width: 320px;
    height: 100%;
   }
   #intro-form{
   width: 320px;
   height: 300px;
   position: relative;
   z-index: 1000;  
   }

   #launchCareer{
   @include outlineButton;
   @include buttonStyle(white);
   margin-top: 1em;
   }
   button#launchCareer a{
    width:320px;
    height: 3em;
   text-decoration: none;
   color: white
   }

  button#signup a{
    width:320px;
    height: 3em;
    text-decoration: none;
    color: white
   }

   #signup{
    @include purpleButton;
    @include buttonStyle(white);
    margin-top: 1em;
   }

   #rightarrow{
  left: 10%;
  top: 9%;
  @include whiteArrow;
}
/* ==========================================================================
   FOOTER
   ========================================================================== */

#footer_options{
  margin: auto;
  width: 960px;
  margin-left: -1.2em;
}


footer ul li{
  float: left;
  font-size: 0.5em;
  padding: 1em;
}
footer ul li a{
  list-style-type: none;
  text-decoration: none;
  color: white;
  opacity: 0.5;

}
footer ul li a:hover{
  opacity: 0.8;

}

/* ==========================================================================
   ADD FROM HERE TO SERVICES, SIGN UP
   ========================================================================== */






/* ==========================================================================
   TABLET
   ========================================================================== */

@media only screen and (min-width: 40em) {

/* ==========================================================================
   MAIN NAV
   ========================================================================== */
body{
  @include responsiveBackground(#f4f2ef); 
}


.nav-handle{
  display: none;

}

#brand_logo a img{
  width:15%;
  height: 15%;
}

#main-nav{
  margin-top: 1em;
}

ul#main-nav{
  float: right;
  margin-right: 1em;
  width: 40em;
}

#main-nav li{
  @include responsiveBackground(#f4f2ef); 
  @include navText(#39444c); 
  border-bottom: none;
  float: left;
}
#main-nav li p{
  float: left;
}

#main-nav li i{
  display: none;
}

ul#main-nav li:nth-child(7){
  @include responsiveBackground(#f4f2ef); 
  
} 
ul#main-nav li:nth-child(8){
  @include responsiveBackground(#f4f2ef); 

} 
ul#main-nav li p{
  @include navText(#39444c); 
  border-top: none;
  border-bottom: none;
}

#seletedServices.display {
display: none;
}

ul#main-nav li:active{
  
background-image: none!important;

}
ul#main-nav li p:active{
  @include hoverFont(#9B8FFB)
}
ul#main-nav li i:active{
  @include hoverFont(#9B8FFB)
}

/* ==========================================================================
   INTRODUCTION
   ========================================================================== */

}




/* ==========================================================================
   DESKTOP
   ========================================================================== */

@media only screen and (min-width: 65em) {


.nav-handle{
  display: none;

}


}



