* {
  border: none;
  margin: 0;
  padding: 0;
  list-style-type: none; }

/* ==========================================================================
   NAVIGATION BAR  hide
   ========================================================================== */
body {
  background-color: #242424; }

body.show {
  background-color: #2b2937; }

header #main-header {
  z-index: 1000;
  position: relative; }

#main-nav {
  height: 0%;
  margin-left: -2.5em;
  margin-top: 2em; }

.nav-handle {
  position: absolute;
  right: 0;
  top: 2em;
  padding-right: 2em; }

.nav-handle-desktop {
  display: none; }

#main-nav li {
  width: 100%;
  height: 2em;
  left: 0;
  top: 60px;
  display: block;
  /*clear: left;*/
  padding-top: 1.2em;
  padding-bottom: 0.5em;
  border-bottom: black 1px solid;
  margin: 0;
  font-size: 1.1em;
  font-weight: 100;
  -webkit-transition: height 1s ease;
  -moz-transition: height 1s ease;
  -ms-transition: height 1s ease;
  -o-transition: height 1s ease;
  transition: height 1s ease;
  line-height: 0px;
  background-color: #242424;
  cursor: pointer; }

ul#main-nav li:nth-child(7) {
  background-color: white; }

ul#main-nav li:nth-child(8) {
  background-color: white; }

.styleList {
  color: black !important; }

ul#main-nav li p {
  color: white;
  font-weight: 100;
  padding-left: 5em;
  margin-top: -0.6em; }

ul#main-nav li i {
  color: black;
  font-size: 1.2em;
  margin-left: 1.3em; }

/* ==========================================================================
   ACTIVE HOLD ON LI DROP DOWN MENU
   ========================================================================== */
ul#main-nav li:active {
  background-image: linear-gradient(#9b8ffb, #2b2937); }

ul#main-nav li p:active {
  color: lavender; }

ul#main-nav li i:active {
  color: lavender; }

header #main-header ul#main-nav li a {
  text-decoration: none;
  color: black; }

header #main-header ul#main-nav li a {
  text-decoration: none;
  color: black; }

header #main-header #nav-handle {
  position: absolute;
  top: 0;
  right: 0;
  height: 56px;
  width: 56px;
  background-color: transparent; }

.side-bar {
  position: absolute;
  left: 0;
  margin-top: -2.2em; }

#droparrow {
  color: white;
  position: absolute;
  right: 0;
  padding-right: 2em;
  margin-top: -1.2em;
  color: white !important; }

#droparrow.hide {
  height: 0em;
  width: 0em;
  overflow: hidden;
  display: none; }

/* ==========================================================================
   NAVIGATION BAR hide
   ========================================================================== */
#main-nav li.hide {
  display: block;
  left: 0;
  top: 60px;
  margin: 0;
  color: black;
  font-weight: 100;
  height: 0em;
  width: 0em;
  overflow: hidden; }

#seletedServices {
  width: 0;
  height: 0;
  display: none; }

#seletedServices.display {
  width: 600px;
  height: auto;
  display: block;
  color: black;
  font-size: 0.8em;
  margin-left: -3em; }

#seletedServices i.display {
  margin-left: 1.8em; }

#seletedServices p.display {
  margin-left: 1.3em; }

#brand_logo a img {
  height: 25%;
  width: 25%;
  margin-left: 1.4em; }

/* ==========================================================================
   SEARCH 
   ========================================================================== */
.search-container {
  display: none; }

.search-bar {
  display: none; }

/* ==========================================================================
   WHEN NAV SLIDES UP BUTTON AND INTRO APPEARS
   ========================================================================== */
#intro-paragraph {
  font-size: 1.1em;
  font-weight: 100;
  color: white;
  width: 320px;
  text-align: center;
  margin-top: -12em;
  postition: absolute; }

#intro-form {
  width: 320px;
  height: auto;
  position: relative;
  z-index: 1000; }

#launchCareer {
  border-radius: 0.2em;
  border: 0.1em white solid;
  background-color: transparent;
  cursor: pointer;
  color: white;
  font-size: 0.9em;
  width: 320px;
  height: 3em;
  margin-top: 1em; }

button#launchCareer a {
  width: 320px;
  height: 3em;
  text-decoration: none;
  color: white; }

button#signup a {
  width: 320px;
  height: 3em;
  text-decoration: none;
  color: white; }

#signup {
  border-radius: 0.2em;
  background-color: #9B8FFB;
  box-shadow: 0.2em 0.2em 0.5em black;
  cursor: pointer;
  color: white;
  font-size: 0.9em;
  width: 320px;
  height: 3em;
  margin-top: 1em; }

#rightarrow {
  left: 10%;
  top: 25%;
  color: white;
  position: absolute; }

/* ==========================================================================
    SIGN UP FORM   
  ========================================================================== */
#intro-paragraph {
  font-size: 1.1em;
  font-weight: 100;
  color: white;
  width: 320px;
  text-align: center;
  postition: absolute; }

section#introduction {
  display: none;
  height: 0;
  width: 0; }

section#introduction.show {
  display: block;
  margin: 0px auto;
  width: 320px;
  height: 100%; }

h1#header {
  color: white;
  height: auto;
  position: absolute;
  margin: auto;
  margin-top: -2em; }

section#signing-up {
  display: block;
  top: 20em;
  width: 320px;
  height: 55em;
  position: relative;
  margin: auto; }

#signup-form {
  width: 320px;
  height: auto;
  position: relative;
  z-index: 1000; }

#signup-form input {
  border-bottom: 0.1em white solid;
  border-top: 0.1em white solid;
  background-color: transparent;
  text-indent: 2.8em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  margin-bottom: 1em;
  width: 320px;
  color: white; }

#signup {
  border-radius: 0.2em;
  background-color: #9B8FFB;
  box-shadow: 0.2em 0.2em 0.5em black;
  cursor: pointer;
  color: white;
  font-size: 0.9em;
  width: 320px;
  height: 3em;
  margin-top: 1em; }

span i {
  position: absolute;
  margin-left: 1em;
  margin-top: 1em;
  color: white !important; }

/* ==========================================================================
    INPUT ERRORS
  ========================================================================== */
.invalid {
  color: #9b8ffb;
  font-size: 0.5em;
  position: absolute;
  margin-top: -1em; }

/* ==========================================================================
   FOOTER
   ========================================================================== */
div#footer_options {
  top: 20em;
  bottom: 0;
  margin-left: -1.5em;
  padding-top: 1em;
  padding-bottom: 3em; }

footer ul li {
  float: left;
  font-size: 0.5em;
  padding: 1em; }

footer ul li a {
  list-style-type: none;
  text-decoration: none;
  color: white;
  opacity: 0.5; }

footer ul li a:hover {
  opacity: 0.8; }

/* ==========================================================================
   ADD FROM HERE TO SERVICES, SIGN UP
   ========================================================================== */
/* ==========================================================================
   TABLET
   ========================================================================== */
@media only screen and (min-width: 40em) {
  div#container {
    top: 10%;
    width: 100%;
    height: 52em;
    outline: 1px red solid;
    position: absolute;
    margin-left: 16em;
    z-index: 4000; }

  /* ==========================================================================
     MAIN NAV
     ========================================================================== */
  body {
    background-color: #f4f2ef; }

  .nav-handle {
    display: none; }

  .nav-handle-desktop {
    right: 1em;
    top: 2em;
    display: block;
    position: absolute; }

  header ul#main-nav {
    margin-top: 1em; }

  #main-nav li {
    width: 14em; }

  /* ==========================================================================
     Slide in and out tablet nav
     ========================================================================== */
  #tab-desk-nav {
    width: 0;
    flex: none;
    height: 0;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 100;
    background-color: #242424;
    transition: width 1s;
    -webkit-transition: width 1s;
    /* Safari 3.1 to 6.0 */ }

  ul#main-nav {
    width: 0;
    transition: width 1s;
    -webkit-transition: width 1s;
    /* Safari 3.1 to 6.0 */
    overflow: hidden; }

  i#droparrow {
    display: hidden;
    width: 0; }

  #tab-desk-nav.show {
    display: block;
    width: 15.4em;
    height: 80em; }

  ul#main-nav.show {
    width: 15.3em; }

  i#droparrow.show {
    display: block;
    width: auto; }

  /* ==========================================================================
     Slide in and out tablet nav
     ========================================================================== */
  #main-nav li p {
    margin-left: -1.3em; }

  #brand_logo a img {
    width: 5em;
    height: 5em;
    margin-left: 4em;
    z-index: 2001;
    position: relative; }

  #seletedServices.display {
    margin-left: -3.2em; }

  #seletedServices li {
    width: 17.5em;
    height: 2em; }

  #seletedServices li p {
    line-height: 140%; }

  #seletedServices p:nth-child(3) {
    line-height: 180%; }

  #seletedServices p:nth-child(3) {
    line-height: 180%; }

  #seletedServices p:nth-child(4) {
    line-height: 180%; }

  #seletedServices p.display {
    margin-top: -1.8em;
    margin-left: -0.3em; }

  #droparrow {
    z-index: 1000;
    position: absolute;
    left: 9em;
    margin-top: -1.2em;
    color: white !important; }

  /* ==========================================================================
     SEARCH FORM
     ========================================================================== */
  .search-container {
    right: 8em;
    top: 2em;
    display: block;
    position: absolute;
    width: 12em; }

  .search-bar {
    display: block; }

  input#txtsearch.search-bar {
    display: none;
    /* For Safari 3.1 to 6.0 */
    -webkit-transition-property: width;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: linear;
    -webkit-transition-delay: 2s;
    /* Standard syntax */
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-delay: 2s; }

  input#txtsearch.search-bar.display {
    display: block;
    height: 2em;
    width: 15em;
    text-indent: 0.5em;
    border-radius: 0.3em;
    text-indent: 0.5em;
    font-size: 0.9em;
    font-weight: 100;
    position: absolute;
    color: white;
    font-weight: 100; }

  #fa-search {
    margin-left: 9.8em;
    margin-top: -0.1em;
    font-size: 1.5em;
    cursor: pointer; }

  /* ==========================================================================
     Register Form
     ========================================================================== */
  section#introduction {
    top: -5em;
    left: 30%;
    position: relative;
    z-index: 4000;
    display: block;
    width: 18em; }

  h1#header {
    font-size: 2em;
    color: black;
    margin-top: -8.8em;
    /*position: absolute;*/ }

  #rightarrow {
    top: 50%;
    position: relative;
    color: black;
    left: 2.5em; }

  #intro-form {
    width: 50em; }

  #intro-paragraph {
    text-align: left;
    color: black;
    font-size: 1.9em;
    font-weight: 500;
    width: 18em; }

  #launchCareer {
    border-color: black;
    width: 18em;
    margin-left: 0.5em; }

  #signup {
    width: 18em; }

  button#launchCareer a {
    color: black; }

  p#intro-paragraph {
    color: black; }

  #signup {
    float: left;
    box-shadow: none; } }
/* ==========================================================================
   DESKTOP
   ========================================================================== */
@media only screen and (min-width: 60em) {
  body {
    background-color: #f4f2ef; }

  #brand_logo a img {
    width: 10%;
    height: 10%; } }
/* ==========================================================================
   MAIN NAV IF YOU WANT LIST to be float left and at the top with no background.
   ========================================================================== */
/*.nav-handle{
  display: none;

}


header  ul#main-nav{
position: relative;
top: auto;
max-height: 2em;
  float: right;
  display: block;
}
#main-nav{
  margin-top: 1em;
}

ul#main-nav{
 
  float: right;
  margin-right: 3em;
}

ul#main-nav li{
 background-color: none;
display: block;
margin: 0;
height: 35px;
color: black;
font-weight: 100;
 z-index: 3000;
border-bottom: none;
  float: left;
  background-color: transparent;
@include navText(#39444c, 1em); 
 width: 8em;
}
ul#main-nav li p{
  color: black;
  margin-top: -2.5em;
  position: absolute;
}

ul#main-nav li i{
  position: absolute;
  margin-left: 3.1em;
  margin-top: -3em;
  font-size: 2em;
}
#main-nav li:nth-child(1) p{
   margin-left: -1em;
  
}
#main-nav li:nth-child(5) p{
   margin-left: -1em;
  
}
#main-nav li:nth-child(6) p{
   margin-left: 0.6em;
  
}
ul#main-nav li:nth-child(1){
   width: 8em;
margin-left: 2em;
}

ul#main-nav li:nth-child(7){
   background-color: transparent;
  
} 
ul#main-nav li:nth-child(8){
   background-color: transparent;

} 
ul#main-nav li:active{
  
background-image: none!important;

}
ul#main-nav li p:active{
  @include hoverFont(#9B8FFB)
}
ul#main-nav li i:active{
  @include hoverFont(#9B8FFB)
}
#droparrow{
  display: none;
}*/
