* {
  border: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* ==========================================================================
   NAVIGATION BAR  hide
   ========================================================================== */
@media only screen and (min-width: 20em) {
  body {
    background-color: #242424; }

  body.show {
    background-color: #2B2937; }

  header #main-header {
    z-index: 1000;
    position: relative; }

  #main-nav {
    height: 0%;
    margin-left: -2.5em;
    margin-top: 2em; }

  ul#main-header.hide {
    display: none; }

  #droparrow.hide {
    font-size: 0px;
    display: none; }

  .nav-handle {
    position: absolute;
    right: 0;
    top: 2em;
    padding-right: 2em; }

  .nav-handle-other {
    position: absolute;
    right: 0;
    top: 2em;
    padding-right: 2em; }

  .nav-handle-sign-up {
    position: absolute;
    right: 0;
    top: 2em;
    padding-right: 2em; }

  .nav-handle-user {
    margin-right: 2em;
    top: 1em;
    margin-top: -6em;
    display: none;
    height: 8em; }

  #signedInTag {
    font-size: 0.9em;
    float: left;
    color: white !important; }

  .nav-handle-user img {
    height: 30%;
    float: right; }

  #main-nav li {
    width: 100%;
    /*height: 2em;*/
    left: 0;
    top: 60px;
    display: block;
    /*clear: left;*/
    padding-top: 1.2em;
    padding-bottom: 0.5em;
    border-bottom: black 1px solid;
    margin: 0;
    font-size: 1.1em;
    font-weight: 100;
    -webkit-transition: height 1s ease;
    -moz-transition: height 1s ease;
    -ms-transition: height 1s ease;
    -o-transition: height 1s ease;
    transition: height 1s ease;
    line-height: 0px;
    background-color: #242424;
    cursor: pointer; }

  ul#main-nav li:nth-child(7) {
    background-color: white; }

  ul#main-nav li:nth-child(6) {
    background-color: white; }

  .styleList {
    color: black !important; }

  ul#main-nav li p {
    color: white;
    font-weight: 100;
    padding-left: 5em;
    margin-top: -0.6em; }

  ul#main-nav li i {
    color: #585859;
    font-size: 1.2em;
    margin-left: 1.3em; }

  /* ==========================================================================
     ACTIVE HOLD ON LI DROP DOWN MENU
     ========================================================================== */
  ul#main-nav li:active {
    background-image: linear-gradient(#9B8FFB, #2B2937); }

  ul#main-nav li p:active {
    color: #E6E6FA; }

  ul#main-nav li i:active {
    color: #E6E6FA; }

  header #main-header ul#main-nav li a {
    text-decoration: none;
    color: black; }

  header #main-header ul#main-nav li a {
    text-decoration: none;
    color: black; }

  header #main-header #nav-handle {
    position: absolute;
    top: 0;
    right: 0;
    height: 56px;
    width: 56px;
    background-color: transparent; }

  .side-bar {
    position: absolute;
    left: 0;
    margin-top: -2.2em; }

  #droparrow {
    color: white;
    position: absolute;
    right: 0;
    padding-right: 2em;
    margin-top: -1.2em;
    color: white !important; }

  #droparrow.hide {
    display: none; }

  /* ==========================================================================
     NAVIGATION BAR hide
     ========================================================================== */
  #main-nav li.hide {
    display: block;
    left: 0;
    top: 60px;
    margin: 0;
    color: black;
    font-weight: 100;
    height: 0em;
    width: 0em;
    overflow: hidden; }

  section#animation {
    display: none; }

  section#animation.show {
    display: block;
    width: 400px;
    /*border-bottom: 1px white solid!important;*/ }

  #aucklandSkyline img {
    margin-top: 1em;
    /*height: 25%;*/
    width: 100%;
    /* margin-left: -20em;*/
    /*opacity: 0.8;*/
    position: relative;
    border-bottom: 1px #928CC4 solid !important; }

  #ponsonbyHousing img {
    /*  height:10%;
    margin-top: 13em;
    */
    display: none;
    /*outline: 1px red solid;*/
    /*position: absolute;*/ }

  #workingGirl img {
    display: none;
    /*  margin-top:10em;
      height:22%;
      width: 22%;
      position: relative;
      z-index: 4000;
      margin-left: 2em;*/ }

  li#seletedServices {
    width: 0;
    height: 0;
    display: none; }

  li#seletedServices.display {
    width: 600px;
    height: auto;
    display: block;
    color: black;
    font-size: 0.8em;
    margin-left: -3em; }

  li#seletedServices i.display {
    margin-left: 1.8em; }

  li#seletedServices p.display {
    margin-left: 1.3em; }

  #brand_logo a img {
    height: 25%;
    width: 25%;
    margin-left: 1.4em; }

  /* ==========================================================================
     SEARCH 
     ========================================================================== */
  .search-container {
    display: none; }

  .search-bar {
    display: none; }

  /* ==========================================================================
     WHEN NAV SLIDES UP BUTTON AND INTRO APPEARS
     ========================================================================== */
  #intro-paragraph {
    font-size: 1.1em;
    font-weight: 100;
    color: white;
    width: 320px;
    text-align: center;
    margin-top: -12em;
    postition: absolute; }

  #intro-form {
    width: 320px;
    height: auto;
    position: relative;
    z-index: 1000; }

  #launchCareer {
    border-radius: 0.2em;
    border: 0.1em white solid;
    background-color: transparent;
    cursor: pointer;
    color: white;
    font-size: 0.9em;
    width: 320px;
    height: 3em;
    text-decoration: none;
    margin-top: 1em;
    width: 320px;
    height: 3em;
    color: white;
    text-align: center;
    line-height: 40px; }

  #launchCareer a {
    text-decoration: none;
    color: white; }

  #careerButton {
    border-radius: 0.2em;
    background-color: #9B8FFB;
    box-shadow: 0.2em 0.2em 0.5em black;
    text-decoration: none;
    margin-top: 1em;
    width: 320px;
    color: white;
    text-align: center;
    line-height: 40px; }

  #careerButton a {
    text-decoration: none;
    color: white; }

  button.button a {
    width: 315px;
    height: 3em;
    text-decoration: none;
    color: white; }

  .button {
    border-radius: 0.2em;
    background-color: #9B8FFB;
    box-shadow: 0.2em 0.2em 0.5em black;
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: 0.9em;
    width: 320px;
    height: 3em;
    text-decoration: none; }

  #rightarrow {
    left: 10%;
    top: 14%;
    color: white;
    position: absolute; }

  /* ==========================================================================
      LOG IN FORM  
    ========================================================================== */
  section#loggingIn {
    display: block;
    position: relative;
    width: 320px;
    margin: 0 auto;
    margin-top: 6em; }

  #logIn-form input {
    border-bottom: 0.1em white solid;
    border-top: 0.1em white solid;
    background-color: transparent;
    padding-left: 2.8em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    margin-bottom: 1em;
    width: 320px;
    color: white; }

  #loggingIn p {
    color: white;
    padding-left: 0.5em;
    padding-right: 0.5em; }

  .spanFont {
    color: white;
    position: absolute;
    margin-left: 2em;
    margin-top: -2em; }

  /* ==========================================================================
      SIGN UP FORM   
    ========================================================================== */
  #intro-paragraph {
    font-size: 1.1em;
    font-weight: 100;
    color: white;
    width: 320px;
    text-align: center; }

  section#introduction {
    display: none;
    height: 0;
    width: 0; }

  section#introduction.show {
    display: block;
    margin: 0px auto;
    width: 320px;
    height: 100%; }

  h1#header {
    color: white;
    height: auto;
    position: absolute;
    margin: auto;
    margin-top: -2em;
    padding-left: 0.5em; }

  #signing-up p {
    color: white;
    padding-left: 0.5em;
    padding-right: 0.5em; }

  section#signing-up {
    display: block;
    top: 5em;
    width: 320px;
    height: auto;
    position: relative;
    margin: auto; }

  #signup-form {
    width: 320px;
    height: auto;
    position: relative;
    z-index: 1000; }

  #signup-form input {
    border-bottom: 0.1em white solid;
    border-top: 0.1em white solid;
    background-color: transparent;
    padding-left: 2.8em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    margin-bottom: 1em;
    width: 320px;
    color: white; }

  #signup-form textarea {
    border-bottom: 0.1em white solid;
    border-top: 0.1em white solid;
    background-color: transparent;
    padding-left: 2.8em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    margin-bottom: 1em;
    width: 320px;
    color: white; }

  #servicesSelect {
    border-bottom: 0.1em white solid;
    border-top: 0.1em white solid;
    background-color: transparent;
    padding-left: 2.5em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    margin-bottom: 1em;
    width: 20em;
    color: white;
    height: 3.5em; }

  #signup-form select#servicesSel {
    border-bottom: 0.1em white solid;
    border-top: 0.1em white solid;
    background-color: transparent;
    padding-left: 2.5em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    margin-bottom: 1em;
    width: 20em;
    color: white;
    height: 3em; }

  .button {
    border-radius: 0.2em;
    background-color: #9B8FFB;
    box-shadow: 0.2em 0.2em 0.5em black;
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: 0.9em;
    width: 320px;
    height: 3em;
    text-decoration: none;
    margin-top: 1em; }

  span i {
    position: absolute;
    margin-left: 1em;
    margin-top: 1em;
    color: white !important; }

  input#agree {
    width: 1em;
    height: 1em;
    right: 1em;
    margin-top: 8.3em;
    position: absolute; }
    input#agree input[type=checkbox] {
      visibility: hidden; }
    input#agree label {
      cursor: pointer;
      position: absolute;
      width: 20px;
      height: 20px;
      top: 0;
      border-radius: 4px;
      -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
      box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
      background: white; }
    input#agree label:after {
      filter: alpha(opacity=0);
      opacity: 0;
      content: '';
      position: absolute;
      width: 9px;
      height: 5px;
      background: transparent;
      top: 4px;
      left: 4px;
      border: 3px solid #333;
      border-top: none;
      border-right: none;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    input#agree label:hover::after {
      filter: alpha(opacity=1);
      opacity: 0.5; }
    input#agree input[type=checkbox]:checked + label:after {
      filter: alpha(opacity=1);
      opacity: 1; }

  #agreementStatement {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: -1em; }

  input#avatar {
    text-indent: 0em !important; }

  #profileImage {
    /*border:#EDEDED 0.01em solid;*/
    height: 4em;
    width: 4em;
    /*  margin-left: auto;
      margin-right: auto;*/
    margin-top: -0.8em;
    background-color: #242424;
    margin-left: 8em; }

  #profileImage img {
    /*width: 100%;*/
    height: 100%; }

  input#checkBoxAgree {
    float: left;
    left: 0;
    margin-top: -1em; }
    input#checkBoxAgree input[type=checkbox] {
      visibility: hidden; }
    input#checkBoxAgree label {
      cursor: pointer;
      position: absolute;
      width: 20px;
      height: 20px;
      top: 0;
      border-radius: 4px;
      -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
      box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
      background: white; }
    input#checkBoxAgree label:after {
      filter: alpha(opacity=0);
      opacity: 0;
      content: '';
      position: absolute;
      width: 9px;
      height: 5px;
      background: transparent;
      top: 4px;
      left: 4px;
      border: 3px solid #333;
      border-top: none;
      border-right: none;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    input#checkBoxAgree label:hover::after {
      filter: alpha(opacity=1);
      opacity: 0.5; }
    input#checkBoxAgree input[type=checkbox]:checked + label:after {
      filter: alpha(opacity=1);
      opacity: 1; }

  /* ==========================================================================
      CAREER PROFILE 
    ========================================================================== */
  #career-profile h1#header {
    color: white;
    height: auto;
    position: relative;
    margin: auto;
    margin-top: -2em;
    margin-left: -0.5em;
    padding-bottom: 1em;
    /*padding-left: 0.5em;*/ }

  #career-profile p {
    color: white;
    /*padding-left: 0.5em;*/
    padding-right: 0.5em; }

  div#sectionCareerProfile {
    position: relative;
    margin: 0 auto; }

  section#career-profile {
    display: block;
    top: 5em;
    width: 320px;
    height: auto;
    position: relative;
    margin: 0 auto; }

  #careerProfile-form {
    width: 320px;
    height: auto;
    position: relative;
    z-index: 1000; }

  #careerProfile-form input {
    border-bottom: 0.1em white solid;
    border-top: 0.1em white solid;
    background-color: transparent;
    padding-left: 2.8em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    margin-bottom: 1em;
    width: 320px;
    color: white; }

  #careerProfile-form select#servicesSel {
    border-bottom: 0.1em white solid;
    border-top: 0.1em white solid;
    background-color: transparent;
    padding-left: 2.5em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    margin-bottom: 1em;
    width: 20em;
    color: white;
    height: 3em;
    border-bottom: 0.1em white solid;
    border-top: 0.1em white solid;
    color: white;
    float: left; }

  #careerProfile-form select#careerClass {
    border-bottom: 0.1em white solid;
    border-top: 0.1em white solid;
    background-color: transparent;
    padding-left: 2.5em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    margin-bottom: 1em;
    width: 20em;
    color: white;
    height: 3em;
    border-bottom: 0.1em white solid;
    border-top: 0.1em white solid;
    color: white;
    float: left; }

  #careerProfile-form textarea {
    border-bottom: 0.1em white solid;
    border-top: 0.1em white solid;
    background-color: transparent;
    padding-left: 2.5em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    margin-bottom: 1em;
    width: 20em;
    color: white;
    float: left; }

  #careerProfile-form .checkBoxAgree {
    margin-left: 2em; }

  /* ==========================================================================
      SERVICES
    ========================================================================== */
  div#sectionServices {
    margin: 0 auto;
    position: relative; }

  section#servicesListed {
    display: block;
    position: relative;
    width: 320px;
    margin: 0 auto;
    margin-top: 6em; }

  #servicesListed h1#header {
    color: white;
    height: auto;
    position: absolute;
    margin: 0 auto;
    margin-top: -2em;
    margin-left: -0.5em;
    padding-left: 0.8em; }

  #servicesListed p {
    color: white;
    padding-left: 0.8em;
    padding-right: 0.8em; }

  .ui-accordion {
    /*background-color: white;*/
    font-family: "Quicksand" !important;
    border-radius: none !important;
    /*  background-color: transparent!important;*/ }

  .ui-corner-all {
    border-radius: none !important; }

  .ui-accordion .ui-accordion-header {
    font-size: 0.95em;
    padding-right: 0.5em; }

  .ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    left: 17.5em; }

  .ui-accordion .ui-accordion-content {
    padding: 0.2em;
    padding-top: 1em; }

  .ui-accordion-content ul {
    margin-left: -0.7em; }

  .ui-accordion .ui-accordion-content ul li {
    font-size: 0.9em;
    padding-top: 1em;
    left: 0;
    width: 17em;
    list-style: decimal outside none;
    list-style-type: disc; }

  .ui-accordion .ui-accordion-content button.button {
    font-family: "Quicksand" !important;
    margin-left: -1em;
    width: 20em;
    padding-bottom: 0.5em;
    box-shadow: none;
    line-height: 40px;
    /*    list-style-type: none!important;*/ }

  .ui-accordion .ui-accordion-content {
    height: auto; }

  #accordion i {
    margin-left: -1em;
    padding-right: 1em; }

  #accordion i.fa.fa-circle {
    font-size: 0.1em; }

  /* ==========================================================================
      INPUT ERRORS
    ========================================================================== */
  .invalid {
    color: #9B8FFB;
    font-size: 0.5em;
    position: absolute;
    margin-top: -1em; }

  /* ==========================================================================
     FOOTER
     ========================================================================== */
  div#footer_options {
    padding-top: 6em;
    margin-left: -2.4em;
    width: 360px; }

  footer ul li {
    float: left;
    font-size: 0.6em;
    padding: 0.6em; }

  footer ul li a {
    list-style-type: none;
    text-decoration: none;
    color: white;
    opacity: 0.5; }

  footer ul li a:hover {
    opacity: 0.8; } }
/* ==========================================================================
   TABLET
   ========================================================================== */
@media only screen and (min-width: 40em) {
  body.show {
    background-color: #f4f2ef; }

  section#introduction.show {
    display: block;
    height: 100%;
    float: left;
    left: 0; }

  ul#main-nav.show {
    display: block; }

  div#sectionTwo {
    top: 12%;
    width: 70%;
    height: 10em;
    /*  border: #EDEDED 0.1em solid;*/
    z-index: 4000;
    /*  background-color: white;*/
    float: right;
    margin-top: 5em;
    margin-right: 2em; }

  div#sectionSignUp {
    height: 44em;
    margin: 0  auto;
    position: relative;
    width: 46em;
    margin-top: -2em; }

  #signing-up h1#header {
    margin-left: -0.5em; }

  input#password.border {
    background-color: transparent; }

  input#user-name.border {
    background-color: transparent; }

  /* ==========================================================================
     Login
     ========================================================================== */
  div#sectionLogin {
    display: block;
    width: 30em;
    height: 36em;
    /*  border: #EDEDED 0.1em solid;*/
    /*  background-color: white;*/
    margin: 0 auto;
    position: relative; }

  section#loggingIn {
    margin-top: 24em;
    float: left;
    margin-left: 5em; }

  #loggingIn h1#header {
    color: black !important;
    position: relative;
    margin-left: -0.5em;
    margin-top: -10em; }

  #loggingIn p {
    margin-left: -0.5em;
    color: black !important; }

  #logIn-form input {
    border-bottom: 0.1em solid black;
    border-top: 0.1em solid black;
    color: black; }

  #logIn-form i {
    color: black !important; }

  #logIn-form button {
    width: 320px;
    height: 3em; }

  #loggingIn img#profileImage {
    position: relative;
    height: 5em;
    width: 5em;
    margin-top: 1em;
    margin-left: 7em; }

  /* ==========================================================================
      CAREER PROFILE 
    ========================================================================== */
  #career-profile h1#header {
    color: white;
    height: auto;
    position: relative;
    margin: auto;
    margin-top: -2em;
    margin-left: -0.5em;
    padding-bottom: 1em;
    /*padding-left: 0.5em;*/ }

  #career-profile p {
    color: white;
    /*padding-left: 0.5em;*/
    padding-right: 0.5em; }

  div#sectionCareerProfile {
    position: relative;
    margin: 0 auto; }

  section#career-profile {
    display: block;
    top: 5em;
    width: 320px;
    height: auto;
    position: relative;
    margin: 0 auto; }

  #careerProfile-form {
    width: 320px;
    height: auto;
    position: relative;
    z-index: 1000; }

  #careerProfile-form input {
    border-bottom: 0.1em white solid;
    border-top: 0.1em white solid;
    background-color: transparent;
    padding-left: 2.8em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    margin-bottom: 1em;
    width: 320px;
    color: white; }

  #careerProfile-form select#servicesSel {
    border-bottom: 0.1em white solid;
    border-top: 0.1em white solid;
    background-color: transparent;
    padding-left: 2.5em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    margin-bottom: 1em;
    width: 20em;
    color: white;
    height: 3em;
    border-bottom: 0.1em white solid;
    border-top: 0.1em white solid;
    color: white;
    float: left; }

  #careerProfile-form select#careerClass {
    border-bottom: 0.1em white solid;
    border-top: 0.1em white solid;
    background-color: transparent;
    padding-left: 2.5em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    margin-bottom: 1em;
    width: 20em;
    color: white;
    height: 3em;
    border-bottom: 0.1em white solid;
    border-top: 0.1em white solid;
    color: white;
    float: left; }

  #careerProfile-form textarea {
    border-bottom: 0.1em white solid;
    border-top: 0.1em white solid;
    background-color: transparent;
    padding-left: 2.5em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    margin-bottom: 1em;
    width: 20em;
    color: white;
    float: left; }

  #careerProfile-form .checkBoxAgree {
    /*  @include checkBox;*/
    /*float: left;*/
    margin-left: 2em; }

  /* ==========================================================================
     MAIN NAV
     ========================================================================== */
  body {
    background-color: #f4f2ef; }

  .nav-handle {
    display: none; }

  .nav-handle-other {
    display: none; }

  .nav-handle-user {
    top: -5em;
    /*  background-color: rgba(255,255,255,0.5);*/
    display: block;
    height: 3em;
    margin: 0 auto;
    position: relative;
    width: 30em;
    margin-right: 18em; }

  #signedInTag {
    font-size: 0.9em;
    float: left;
    padding-right: 1em;
    padding-left: 1em;
    color: black !important; }

  div#profilePic {
    height: 3em;
    width: 3em;
    float: left;
    border: #EDEDED 0.01em solid; }

  #profilePic a img {
    margin-right: 0em;
    height: 100%;
    width: 100%; }

  header ul#main-nav {
    margin-top: 1em; }

  ul#main-nav li:nth-child(6) {
    background-color: #242424; }

  ul#main-nav li:nth-child(7) {
    background-color: white; }

  ul#main-nav li:nth-child(8) {
    background-color: white; }

  /* ==========================================================================
     SERVICES ACCORDIAN
     ========================================================================== */
  div#sectionServices {
    display: block;
    width: 40em;
    height: 56em;
    /*  border: #EDEDED 0.1em solid;*/
    /*  background-color: white;*/
    margin: 0 auto;
    /*margin-left: 20em;*/
    position: relative;
    padding-bottom: 0.5em; }

  #servicesListed h1#header {
    color: black;
    height: auto;
    position: relative;
    margin: 0 auto;
    margin-top: -2em;
    margin-left: -3.6em; }

  #servicesListed p {
    color: black;
    width: 32em;
    margin-left: -6.3em;
    padding-bottom: 1em; }

  .ui-accordion {
    width: 30em;
    margin-left: -5em;
    background-color: transparent !important;
    border: none; }

  div#accordion.ui-accordion .ui-widget .ui-helper-reset {
    background-color: none !important; }

  .ui-accordion .ui-accordion-content ul li {
    width: 28em; }

  .ui-accordion .ui-accordion-content button.button {
    margin: 0 auto;
    position: relative;
    margin-top: 2em;
    margin-left: 5em;
    line-height: 40px; }

  .ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    left: 30em; }

  .ui-accordion .ui-accordion-content {
    background-color: transparent; }

  .ui-accordion .ui-accordion-icons {
    background-color: transparent !important; }

  #accordion i {
    margin-left: -1em;
    padding-right: 1em; }

  #accordion i.fa.fa-circle {
    font-size: 0.1em; }

  /* ==========================================================================
     Checkbox for Nav Sign up
     ========================================================================== */
  .checkBox input {
    float: left;
    margin-top: 1em !important;
    margin-left: -10.5em; }

  input #checkBox {
    float: left; }

  /* ==========================================================================
     NAV SIGN UP
     ========================================================================== */
  form#navLogIn {
    height: 3em;
    float: left; }

  #navLogIn button {
    width: 6em !important;
    height: 3.2em !important;
    margin-left: 0.3em;
    margin-top: 0em; }

  #navLogIn input {
    margin-left: 0.2em;
    height: 3.3em;
    background-color: none !important;
    width: 13em;
    margin-top: 0.7em;
    border-bottom: 0.1em black solid;
    border-top: 0.1em black solid;
    font-size: 0.9em;
    float: left;
    padding-left: 2em;
    margin-top: -0.1em; }

  #navLogIn span i {
    color: black !important;
    position: absolute;
    margin-left: -10em; }

  #navLogIn i.fa.fa-user {
    margin-top: 0.9em;
    margin-left: -23em; }

  #navLogIn i.fa.fa-lock {
    margin-top: 0.9em;
    margin-left: -11em; }

  #login {
    border-radius: 0.2em;
    background-color: #9B8FFB;
    box-shadow: 0.2em 0.2em 0.5em black;
    text-decoration: none;
    width: 6em;
    height: 2em;
    box-shadow: none !important;
    font-size: 0.8em;
    float: left;
    /*//change to float left in desktop*/
    margin-right: 0.5em;
    color: white;
    margin-top: 0.9em; }

  .spanFont {
    font-size: 0.8em;
    margin-left: -9em;
    color: black;
    float: left;
    margin-top: 1em; }

  /* ==========================================================================
     Slide in and out tablet nav
     ========================================================================== */
  #tab-desk-nav {
    width: 15.4em;
    float: left;
    height: 80em;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 100;
    background-color: #242424;
    transition: width 1s;
    -webkit-transition: width 1s;
    /* Safari 3.1 to 6.0 */ }

  ul#main-nav {
    width: 0;
    transition: width 1s;
    -webkit-transition: width 1s;
    /* Safari 3.1 to 6.0 */
    float: left;
    overflow: hidden; }

  #droparrow.hide {
    display: none;
    width: 0;
    height: 0; }

  /*#tab-desk-nav.show{
  display: block;
  width: 15.4em;
  height: 80em;
  
  }*/
  ul#main-nav {
    width: 17.9em; }

  #droparrow {
    display: block;
    z-index: 1000;
    position: absolute;
    left: 9em;
    margin-top: -1.2em;
    color: white !important; }

  /* ==========================================================================
     Slide in and out tablet nav
     ========================================================================== */
  #main-nav li p {
    margin-left: -1.3em; }

  #brand_logo a img {
    width: 5em;
    height: 5em;
    margin-left: 4em;
    z-index: 2001;
    position: relative; }

  li#seletedServices.display {
    margin-left: -3.2em; }

  li#seletedServices li {
    width: 17.5em;
    height: 4em; }

  li#seletedServices li p {
    line-height: 120%; }

  li#seletedServices p:nth-child(2) {
    padding-top: 0.3em; }

  li#seletedServices p:nth-child(3) {
    line-height: 160%; }

  p.display:nth-child(5) {
    padding-bottom: 0.5em; }

  li#seletedServices p.display {
    margin-top: -1.8em;
    margin-left: -0.3em; }

  /* ==========================================================================
     SEARCH FORM
     ========================================================================== */
  .search-container {
    margin-right: 6em;
    top: 0;
    display: block;
    float: right;
    width: 12em;
    margin-top: -8em; }

  /*.search-bar{
    display: block;
  }*/
  /*input#txtsearch.search-bar{
    display: none;
  
      -webkit-transition-property: width;
      -webkit-transition-duration: 1s;
      -webkit-transition-timing-function: linear;
      -webkit-transition-delay: 2s;
    
      transition-property: width;
      transition-duration: 1s;
      transition-timing-function: linear;
      transition-delay: 2s;
  }*/
  input#txtsearch.search-bar {
    display: block;
    height: 3em;
    width: 14em;
    padding-left: 3.5em;
    font-size: 1em;
    font-weight: 100;
    position: absolute;
    color: white !important;
    font-weight: 100;
    margin-top: 3em; }

  #txtsearch {
    background-color: black; }

  #fa-search {
    right: 10.8em;
    padding-right: 0.5em;
    margin-top: 2.6em;
    font-size: 1.4em;
    position: absolute;
    color: white !important;
    border-right: 1px white solid; }

  /* ==========================================================================
     INTRODUCTION
     ========================================================================== */
  div#sectionOne {
    margin-top: 1em;
    width: 80%;
    padding-left: 4em;
    margin: 0 auto;
    z-index: 4000; }

  section#introduction {
    top: 24em;
    position: relative;
    margin-left: 8em;
    z-index: 4000;
    display: block;
    width: 37em;
    height: 16em;
    padding-left: 1.2em; }

  /*section#animation{
  
      position: relative;
      display: block;
      margin: 0 auto;
  }
  #aucklandSkyline img{
    width: 100%;
  opacity: 0.3;
  height: 350px;
  position: absolute;
  top: 20em;
  background-position: 0 0;
  margin-left: 8em;
  }
  
  #ponsonbyHousing img{
  width: 100%;
  height: 140px;
  position: relative;
  background-repeat: repeat-x;
  background-position: 0 0;
  display: block;
  margin-left: 8em;
  }*/
  section#animation {
    margin-top: 25em;
    position: relative;
    display: block;
    height: 22em; }

  #aucklandSkyline img {
    margin-top: -8em;
    opacity: 0.3;
    position: absolute;
    margin-left: 1em;
    height: 22em; }

  #ponsonbyHousing img {
    /* height: 65%;*/
    width: 100%;
    margin-top: 10em;
    margin-left: 6em;
    display: block;
    position: absolute; }

  #workingGirl img {
    margin-top: 20em;
    width: 10%;
    /*  height: 6.5em;
      width: 7em;*/
    position: absolute;
    z-index: 4000;
    margin-left: 10em;
    display: none; }

  /* ==========================================================================
     Introduction buttons 
     ========================================================================== */
  #intro-paragraph {
    text-align: left;
    color: black;
    font-size: 1.8em;
    font-weight: 500;
    width: 16em; }

  #rightarrow {
    top: 1.8em;
    position: relative;
    color: black;
    left: 1.5em; }

  #launchCareer {
    border-color: black;
    width: 18em;
    margin-left: 0em;
    margin-top: -0.1em; }

  #launchCareer a {
    color: black; }

  #careerButton {
    width: 16.2em;
    height: 2.65em;
    margin-left: 17em;
    margin-top: -2.7em;
    box-shadow: none; }

  .button {
    /*    float: left;*/
    box-shadow: none;
    width: 18em;
    z-index: 4000; }

  /* ==========================================================================
     Register Form
     ========================================================================== */
  section#signing-up {
    top: 21em;
    float: left;
    margin-top: 1em;
    padding-left: 2em; }

  p#intro-paragraph {
    color: black;
    margin-top: -9em;
    width: 20em; }

  h1#header {
    font-size: 2em;
    color: black;
    margin-top: -10em; }

  #signup-form {
    width: 42em; }

  #signing-up p {
    text-align: left;
    color: black;
    font-size: 1.1em;
    font-weight: 500;
    width: 40em;
    margin-top: -10em; }

  #signup-form input {
    border-bottom: 0.1em black solid;
    border-top: 0.1em black solid;
    color: black;
    position: relative;
    margin-right: 0.5em;
    width: 20em !important; }

  #servicesSelect {
    border-bottom: 0.1em black solid;
    border-top: 0.1em black solid;
    background-color: transparent !important;
    height: 2.8em;
    border-radius: none !important;
    width: 320px;
    color: black;
    text-indent: 1.8em; }

  #signup-form textarea {
    border-bottom: 0.1em black solid;
    border-top: 0.1em black solid;
    color: black;
    height: 1em;
    width: 320px !important;
    margin-left: 0.5em;
    height: 2.8em; }

  #signup-form select#servicesSel {
    border-bottom: 0.1em white solid;
    border-top: 0.1em white solid;
    background-color: transparent;
    padding-left: 2.5em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    margin-bottom: 1em;
    width: 20em;
    color: white;
    height: 3em;
    border-bottom: 0.1em black solid;
    border-top: 0.1em black solid;
    color: black; }

  #signup-form button.button {
    margin-top: 4em;
    width: 320px; }

  #signup-form i {
    color: black !important; }

  span i {
    float: left !important; }

  #signup-form i .fa-hand-o-right {
    position: absolute;
    margin-left: 10em; }

  input#agree {
    width: 1em;
    height: 1em;
    right: 2em;
    margin-top: 8em;
    position: absolute; }

  input#avatar {
    text-indent: 0em !important; }

  #agreementStatement {
    font-size: 0.8em !important;
    width: 45em !important;
    margin-top: 0em !important;
    padding-bottom: 1em; }

  #profileImage {
    position: absolute;
    border: #EDEDED 0.01em solid;
    text-align: center;
    height: 7em;
    width: 7em;
    margin-top: -20em;
    margin-left: 16.5em;
    background-color: white; }

  #profileImage img {
    /*width: 100%;*/
    height: 100%; }

  .iconPlacement {
    float: left;
    margin-left: -40.5em;
    margin-top: 5em; }

  .iconPlacement:nth-child(3) {
    margin-top: 0.2em; }

  /* ==========================================================================
     Career Profile
     ========================================================================== */
  section#career-profile {
    width: 42em;
    padding-left: 2em; }

  section#career-profile #profileImage {
    position: absolute;
    margin-left: 8em;
    margin-top: -5em; }

  #career-profile h1#header {
    color: black;
    float: left; }

  #career-profile p {
    color: black;
    float: left; }

  #careerProfile-form span i {
    color: black !important; }

  form#careerProfile-form {
    width: 42em;
    height: 50em; }

  #careerProfile-form p#agreementStatement {
    height: 2em !important; }

  #careerProfile-form input {
    color: black;
    margin-right: 0.5em;
    border-bottom: 0.1em black solid;
    border-top: 0.1em black solid;
    float: left; }

  #careerProfile-form input#avatar {
    color: black !important; }

  #careerProfile-form button.button {
    float: left;
    width: 320px;
    height: 3.5em; }

  #careerProfile-form select#servicesSel {
    border-bottom: 0.1em black solid;
    border-top: 0.1em black solid;
    color: black;
    margin-right: 0.8em; }

  #careerProfile-form select#careerClass {
    border-bottom: 0.1em black solid;
    border-top: 0.1em black solid;
    color: black;
    height: 3em;
    padding-right: 2.8em !important; }

  #careerProfile-form textarea {
    border-bottom: 0.1em white solid;
    border-top: 0.1em white solid;
    background-color: transparent;
    padding-left: 2.5em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    margin-bottom: 1em;
    width: 20em;
    color: white;
    float: left; }

  #careerProfile-form .checkBoxAgree {
    position: relative; }

  #careerProfile-form p {
    position: relative; }

  #careerProfile-form textarea {
    height: 3em;
    border-bottom: 0.1em black solid;
    border-top: 0.1em black solid;
    color: black;
    margin-right: 0.8em; }

  /* ==========================================================================
     ALL CHECKBOXES
     ========================================================================== */
  .checkBox {
    position: relative; }
    .checkBox input[type=checkbox] {
      visibility: hidden; }
    .checkBox label {
      cursor: pointer;
      position: absolute;
      width: 20px;
      height: 20px;
      top: 0;
      border-radius: 4px;
      -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
      box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
      background: white; }
    .checkBox label:after {
      filter: alpha(opacity=0);
      opacity: 0;
      content: '';
      position: absolute;
      width: 9px;
      height: 5px;
      background: transparent;
      top: 4px;
      left: 4px;
      border: 3px solid #333;
      border-top: none;
      border-right: none;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .checkBox label:hover::after {
      filter: alpha(opacity=1);
      opacity: 0.5; }
    .checkBox input[type=checkbox]:checked + label:after {
      filter: alpha(opacity=1);
      opacity: 1; }

  .checkBox label {
    /*float: left;*/
    margin-top: 1em;
    margin-left: -9em; }

  .checkBoxAgree {
    position: relative;
    margin-left: 18em;
    margin-top: -4em; }
    .checkBoxAgree input[type=checkbox] {
      visibility: hidden; }
    .checkBoxAgree label {
      cursor: pointer;
      position: absolute;
      width: 20px;
      height: 20px;
      top: 0;
      border-radius: 4px;
      -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
      box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
      background: white; }
    .checkBoxAgree label:after {
      filter: alpha(opacity=0);
      opacity: 0;
      content: '';
      position: absolute;
      width: 9px;
      height: 5px;
      background: transparent;
      top: 4px;
      left: 4px;
      border: 3px solid #333;
      border-top: none;
      border-right: none;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .checkBoxAgree label:hover::after {
      filter: alpha(opacity=1);
      opacity: 0.5; }
    .checkBoxAgree input[type=checkbox]:checked + label:after {
      filter: alpha(opacity=1);
      opacity: 1; }

  /* ==========================================================================
     FOOTER
     ========================================================================== */
  div#footer_options {
    margin: -2em 0 0 auto;
    padding-top: 5em;
    position: relative;
    width: 50em; }

  footer ul li a {
    color: black;
    font-size: 2em;
    padding: 0.5em; }

  footer ul li a:hover {
    opacity: 0.8; } }
/* ==========================================================================
   DESKTOP
   ========================================================================== */
@media only screen and (min-width: 60em) {
  #brand_logo a img {
    width: 6em;
    height: 6em; }

  .spanFont {
    margin-top: 1.5em;
    float: left; } }
/* ==========================================================================
   MAIN NAV IF YOU WANT LIST to be float left and at the top with no background.
   ========================================================================== */
/*.nav-handle{
  display: none;

}


header  ul#main-nav{
position: relative;
top: auto;
max-height: 2em;
  float: right;
  display: block;
}
#main-nav{
  margin-top: 1em;
}

ul#main-nav{
 
  float: right;
  margin-right: 3em;
}

ul#main-nav li{
 background-color: none;
display: block;
margin: 0;
height: 35px;
color: black;
font-weight: 100;
 z-index: 3000;
border-bottom: none;
  float: left;
  background-color: transparent;
@include navText(#39444c, 1em); 
 width: 8em;
}
ul#main-nav li p{
  color: black;
  margin-top: -2.5em;
  position: absolute;
}

ul#main-nav li i{
  position: absolute;
  margin-left: 3.1em;
  margin-top: -3em;
  font-size: 2em;
}
#main-nav li:nth-child(1) p{
   margin-left: -1em;
  
}
#main-nav li:nth-child(5) p{
   margin-left: -1em;
  
}
#main-nav li:nth-child(6) p{
   margin-left: 0.6em;
  
}
ul#main-nav li:nth-child(1){
   width: 8em;
margin-left: 2em;
}

ul#main-nav li:nth-child(7){
   background-color: transparent;
  
} 
ul#main-nav li:nth-child(8){
   background-color: transparent;

} 
ul#main-nav li:active{
  
background-image: none!important;

}
ul#main-nav li p:active{
  @include hoverFont(#9B8FFB)
}
ul#main-nav li i:active{
  @include hoverFont(#9B8FFB)
}
#droparrow{
  display: none;
}*/

/*# sourceMappingURL=main.css.map */
